@{
    String Username = User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkHub - Find easy part-time jobs online.</title>
    @Styles.Render("~/Content/Materialize/css")
    @Scripts.Render("~/bundles/materialize")

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $(".dropdown-button").dropdown(); // Load dropdown categories menu script
            window_size = $(window).height();
            $('.sidenav').height(window_size);
            $('.page-footer').css('margin-top', "0px");
        });
    </script>
</head>
<body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        @foreach (var item in ViewBag.Categories)
        {
            <li><a href="#">@item.Type</a></li>
        }

    </ul>
    <!-- End-->
        <nav class="black">
            <div class="nav-wrapper">
                    <a class="brand-logo" href="~/Home/LoggedIndex">WorkHub</a>

               <!-- <ul>
                    <li>@Html.ActionLink("All jobs", "Index", "WorkOrders")</li>
                    <li>@Html.ActionLink("Post a job", "Create", "WorkOrders")</li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>-->
                <ul class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#"><i class="material-icons left">perm_identity</i> Welcome, <b>@Username</b>!</a></li>
                        <li>@Ajax.ActionLink("Log Out", "LogOut", "Account", new AjaxOptions { HttpMethod = "Post" })</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col s2 grey darken-4 sidenav">
                <ul>
                    <li>@Html.ActionLink("All jobs", "Index", "WorkOrders")</li>
                    <li>@Html.ActionLink("Post a job", "Create", "WorkOrders")</li>
                    </ul>
            </div>
            <div class="col s10">
                <div class="">
                    @RenderBody() <!-- Render body from views-->
                </div>
            </div>
        </div> <!--End row-->
            <footer class="page-footer black">
                <div class="footer-copyright">
                    <div class="container">
                        &copy; @DateTime.Now.Year - Workhub
                    </div>
                </div>
            </footer>
</body>
</html>
