@{ 
    String username = User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkHub - Find easy part-time jobs online.</title>
    @Styles.Render("~/Content/Materialize/css")
    @Scripts.Render("~/bundles/materialize")
    
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $(".dropdown-button").dropdown(); // Load dropdown categories menu script
        });          
    </script>
</head>
<body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
    @foreach (var item in ViewBag.Categories)
    {
        <li><a href="/WorkOrders/Category/@item.CategoryId">@item.Type</a></li>
    }
        
    </ul>
    <!-- End-->
    <div>
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center" href="~/Home/Index">WorkHub</a>
                <ul>
                    <li>@Html.ActionLink("All jobs", "Index", "WorkOrders")</li>
                    <li>@Html.ActionLink("Post a job", "Create", "WorkOrders")</li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/Manage/Index"><i class="material-icons left">perm_identity</i> Welcome, <b>@username</b>!</a></li>
                        <li>@Ajax.ActionLink("Log Out", "LogOut", "Account", new AjaxOptions { HttpMethod = "Post" })</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody() <!-- Render body from views-->
        </div>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    &copy; @DateTime.Now.Year - Workhub
                </div>
            </div>
        </footer>
    </div> <!-- /container -->
</body>
</html>
