@{
    String username = User.Identity.Name;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        nav, header, main, footer {
      padding-left: 300px;
    }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkHub - Find easy part-time jobs online.</title>
    @Styles.Render("~/Content/Materialize/css")
    @Scripts.Render("~/bundles/materialize")

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
    </script>
</head>
<body>
        <nav class="black">
            <div class="nav-wrapper">
                    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
               <!-- <ul>
                    <li>@Html.ActionLink("All jobs", "Index", "WorkOrders")</li>
                    <li>@Html.ActionLink("Post a job", "Create", "WorkOrders")</li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>-->
                <ul class="right hide-on-med-and-down">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/Manage/Index"><i class="material-icons left">perm_identity</i> Welcome, <b>@username</b>!</a></li>
                        <li>@Ajax.ActionLink("Log Out", "LogOut", "Account", new AjaxOptions { HttpMethod = "Post" })</li>
                    }
                </ul>
            </div>
        </nav>
        <div class="row">
            <div style="padding-left: 330px;">
                <div class="">
                    @RenderBody() <!-- Render body from views-->
                </div>
            </div>
        </div> <!--End row-->
            <footer class="page-footer black">
                <div class="footer-copyright">
                    <div class="container">
                        &copy; @DateTime.Now.Year - Workhub
                    </div>
                </div>
            </footer>
</body>
</html>


<ul id="slide-out" class="side-nav fixed grey darken-3">
    <li><a href="~/Home/Index" class="white-text name"><i class="material-icons white-text">work</i>WorkHub</a></li>
    <li><div class="divider grey darken-1"></div></li>
    <li>@Html.ActionLink("All jobs", "Index", "WorkOrders", null, new { @class = "white-text" })</li>
    <li>@Html.ActionLink("Post a job", "Create", "WorkOrders", null, new { @class = "white-text" })</li>
    <li><div class="divider grey darken-1"></div></li>
    <li><a class="subheader">Categories</a></li>
    @foreach (var item in ViewBag.Categories)
    {
        <li><a href="/WorkOrders/Category/@item.CategoryId" class="white-text">@item.Type</a></li>
    }

</ul>