@model WorkHub.Models.WorkOrder

@{
    ViewBag.Title = "Create";
}

<script>
    $(document).ready(function () {
        $("select").material_select(); // Load dropdown categories menu script
    });
</script>

<script async defer type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBoDnASCk5XqED-0ii5mnpRvhCo_7YFtWo&callback=initMap"></script>

<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }
   
    function initMap(position) {
        var poslng = document.getElementById('Longitude');
        var poslat = document.getElementById('Latitude');

        poslng.value = position.coords.longitude;
        poslat.value = position.coords.latitude;

        var userPosition = { lat: position.coords.latitude, lng: position.coords.longitude };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: userPosition
        });
        var marker = new google.maps.Marker({
            position: userPosition,
            icon: '/Content/Images/work.png',
          map: map

        });

       
        map.addListener('click', function (e) {
            marker.setPosition(e.latLng);
            console.log(e.latLng.lat);
            poslng.value = marker.getPosition().lng();
            poslat.value = marker.getPosition().lat();
        });
    }

  
    getLocation();
</script>

<div class="row">
    <div class="col s12 m6">
        <div class="card white darken-1">
            <div class="card-content dark-text">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="input-field">
                        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "" })
                        @Html.LabelFor(model => model.CategoryId, "Category")
                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        @Html.LabelFor(model => model.Payment)
                        @Html.EditorFor(model => model.Payment)
                        @Html.ValidationMessageFor(model => model.Payment, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        @Html.LabelFor(model => model.Description)
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        @Html.LabelFor(model => model.PhoneNumber)
                        @Html.EditorFor(model => model.PhoneNumber)
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        @Html.HiddenFor(model => model.Latitude)
                        @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        @Html.HiddenFor(model => model.Longitude)
                        @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-field">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card white darken-1">
            <div class="card-content dark-text">
                <span class="card-title">Select a place for your job.</span>
                <div id="map" style="width: 100%; height: 480px;"></div>
            </div>
        </div>
    </div>
</div><!--End row-->
