@model IEnumerable<WorkHub.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<h2>All work orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
    </tr>
}

</table>
