@using WorkHub.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<div class="form-box">
    <center><h1>Log In</h1></center>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "reg-form", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                <div class="form-group">
                    <center><input type="submit" value="Log in" class="form-button" /></center>
                    </div>
                <p>
                    <center>@Html.ActionLink("Register as a new user", "Register")</center>
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
    }
</div>
@Styles.Render("~/Content/Register/css")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}