@model WorkHub.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

@Styles.Render("~/Content/Register/css")

<br />
<div class="form-box">
    <center><h1>Sign up</h1></center>
    
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-form", role = "form" }))
    {
       
        <h3>Basic info</h3>
        @Html.AntiForgeryToken()
       
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
        <h3>Your profile</h3>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DateOfBirth, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", type = "date"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <center><input type="submit" class="form-button" value="Register" /></center>
        </div>
    }
    <center>@Html.ActionLink("Already have an account? Login here.", "Login")</center>
</div>

@{
    if (!Html.ViewData.ModelState.IsValid)
    {
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>
    }

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

